<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <label class="input-group-text">Server Name</label>
  </div>
  <input type="text" class="form-control" aria-label="Server Name"
         aria-describedby="inputGroup-sizing-lg" (input)="onUpdateServerName($event)" />
</div>

<p>{{ serverName }}</p>

<button class="btn btn-primary"
        [disabled] = "!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
<!--String Interpolation-->
<p>{{ allowNewServer }}</p>
<!--Property binding-->
<p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
