<div class="row">
  <div class="col col-sm-6">
    <div class="list-group">
      <a [routerLink]="['/servers', 5, 'edit']"
         [queryParams]="{allowEdit: '1', other: 'some'}"
         fragment="loading"
         class="list-group-item"
         *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col col-sm-6">
    <!--<a routerLink="servers">Error: Reload Page</a> &lt;!&ndash; Error: Relative route result on /servers/servers &ndash;&gt;-->
    <!--<br />-->
    <!--<a routerLink="../servers">Relative: Reload Page</a> &lt;!&ndash; Relative path correct &ndash;&gt;-->
    <!--<br />-->
    <!--<a routerLink="/servers">Absolute: Reload Page</a> &lt;!&ndash; Absolute path correct &ndash;&gt;-->
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>
