<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="form-group">
        <label for="search">Search:</label>
        <input type="search" id="search" class="form-control" [(ngModel)]="filteredStatus" />
      </div>
      <br />
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br />
      <h4>App Status: {{ appStatus | async }}</h4>
      <hr />
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let server of servers | filter:filteredStatus:'status' | sort:'name'"
            [ngClass]="getStatusClasses(server)">
          <span>
            <strong>{{ server.name | shorten: 13 }}</strong>
            | {{ server.instanceType | uppercase | reverse }}
            | {{ server.started | date:'fullDate' | uppercase }}
          </span>
          <span class="badge badge-secondary">{{ server.status}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

