<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li role="presentation" class="nav-item">
          <a href="#" class="nav-link">Servers</a>
        </li>
        <li role="presentation" class="nav-item">
          <a href="#" class="nav-link">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

